* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  background-image: url("../public/assets/background-old.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.header {
  height: 60px;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.3);
  padding: 4px 4px;
  margin-bottom: 8px;
  width: 100%;
  text-align: center;
}

.form {
  max-width: 1024px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-block {
  margin-top: 48px;
}

.input-block__title {
  color: #224582;
  font-size: 1rem;
  font-weight: 600;
}

.input-block__input-container {
  margin-top: 10px;
}

.input-container {
  /* display: flex;
  align-items: center; */
  background-color: #c4d3eeab; /* Change to match the desired background */

  border: 1px solid #224582;
  padding: 10px 16px;
  border-radius: 8px 8px 0 0;
  position: relative;
  box-shadow: rgba(50, 64, 114, 0.4) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 0.3s ease;
}

.input-container:hover {
  background-color: #89a5d5;
}

.input-container:focus-within {
  background-color: #89a5d5;
}

.form-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #224582;
  font-size: 1rem;
}

.styled-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.eye-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: #fffef7;
  font-size: 1.2rem;
  padding: 0;
}

.eye-icon:focus {
  outline: none;
}
.submit-button-container {
  margin-top: 10px;
  display: flex;
  width: 100%;
}

.submit-button {
  color: #fffef7;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 1rem;
  width: 100%;
  border-radius: 10px;
  padding: 16px 16px;
  font-weight: 800;
  background: var(--Primary-Primary, #224582);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: #224582 1px solid;
  transition: 0.3s ease;
}

.submit-button:hover {
  background: var(--Primary-Primary, #4a7dd55f);
  color: #224582;
}

@media (max-width: 1024px) {
  body {
    background-size: 75%;
  }
}

@media (max-width: 480px) {
  body {
    background-size: 100%;
  }
}
